grades=[]
result=[]
stugrades=int(input("Number of student : "))
for i in range (0,stugrades):
    element=int(input("enter grade : "))
    grades.append(element)
for grade in grades :
    diff=grade % 5
    if grade <38 or (diff < 3):
       result.append(grade)
    else:
        res=grade + (5-diff)
        result.append(res)

print(result)
